.main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10rem);
    padding: 1.25rem;
}

.menu-nav {
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    border-top: 0.125rem solid #007BFF;
    position: fixed;
    left: 0;
    bottom: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 3.5625rem;
    border: 0.125rem solid #007BFF;
    border-radius: 0.625rem;
    color: #ffffff;
    font-size: 1.25rem;
}

.content-title {
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
}

.content-box {
    background-color: #444;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #555;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
    color: #d2d2d2;
}

pre {
    background-color: #000;
    color: rgb(56, 214, 56);
    padding:  0.625rem;
    border-radius: 0.3125rem;
    overflow-x: auto;
    font-size: 1.1rem;
}

img {
    height: 3.125rem;
}

@media (min-width: 650px) {

    .main-container {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .menu-nav {
        width: 53.125rem;
        height: auto;
        flex-direction: column;
        top: 0;
        left: 0;
        padding-top: 2rem;
        display: block;
        position: relative;
        border-top: none;
        border-right: 0.125rem solid #007BFF;
    }

    .content {
        margin-left: 1.5rem;
    }

    .button {
        width: auto;
        margin-bottom: 1.2rem;
        margin-left: 1.0625rem;
        margin-right: 1.0625rem;
    }

}