/* content.css */
.main-container {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* Fondo oscuro */
}

.sidebar {
    width: 100px; /* Ancho de la barra lateral */
    background-color: #333; /* Fondo más oscuro */
    padding: 20px;
    border-right: 2px solid #007BFF; /* Línea azul */
}

.menu-nav ul {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    display: block;
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #444; /* Línea gris */
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #444; /* Hover gris más claro */
}

.menu-item.active {
    color: #007BFF; /* Texto azul para la página activa */
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #2b2b2b; /* Fondo del contenido */
    color: #ffffff; /* Texto blanco */
}

.content-title {
    text-align: center;
    color: #ffffff; /* Título en blanco */
    margin-bottom: 20px;
    font-size: 2rem;
}

.content-box {
    background-color: #333; /* Fondo oscuro para los cuadros */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #444; /* Borde gris */
}

.content-box h2 {
    color: #ffffff; /* Texto blanco */
    margin-bottom: 10px;
}

.content-box p {
    color: #cccccc; /* Texto gris claro */
}

pre {
    background-color: #000; /* Fondo negro para el código */
    color: #0f0; /* Texto verde */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
.imagen{
    width: 170px;
}